* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}


.header {
  background-color: rgba(13, 1, 1, 0.5);
}
  

.nav-link {
  color: rgb(0, 0, 0);
  padding: 0px 15px;
  transition: all 0.3s ease;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-link:hover {
  color: white;
}
